.endpage img{
  width: 15px;
  height: 15px;
}
.endpage{
  width: 100%;
  height: 30px;
  background-color: rgb(231, 231, 231);
  margin: auto;
  width: 40rem;
}
.endpage a{
  padding: 5px;
}
.endpage p{
  font-size: 10px;
  margin:0 20px 0 250px;
}
.endpage a , p{
  display: inline-block;
}
