<div class="card">
  <div class="multicard">
    <div class="buttons">
      <button type="button" class="btn btn-primary btn-sm">+ دریافت پیشنهاد جدید</button>
      <button type="button" class="btn btn-outline-primary btn-sm black">
        <img src="../../assets/filter.svg" alt="">
        فیلترها</button>
        <button type="button" class="btn btn-outline-dark btn-sm">برق ساختمان</button>
      <button type="button" class="btn btn-outline-dark btn-sm">نظافت منزل</button>
      <button type="button" class="btn btn-outline-dark btn-sm">لوله کشی</button>
      <button type="button" class="btn btn-outline-dark btn-sm">نصب کولر گازی</button>
      <button type="button" class="btn btn-outline-dark btn-sm">نصب کولر آبی</button>
      <button type="button" class="btn btn-outline-dark btn-sm">کابینت سازی</button>
    </div>
    <div class="all">
      <div class="d1">
        <h5>دسته بندی</h5>
          <input class="form-control" type="search" placeholder="جست و جوی در تخصص ها...">
          <a href="#" style="padding-top: 20px; ;" >نظافت و شستشو
            <img class="check" src="../../assets/iconmonstr-checkbox-1.svg" alt="">
          </a>
          <a href="#">برق و الکترونیک
            <img class="check" src="../../assets/iconmonstr-checkbox-1.svg" alt="">
          </a>
          <a href="#">خدمات خودرو
            <img class="check" src="../../assets/iconmonstr-checkbox-1.svg" alt="">
          </a>
          <a href="#">تاسیسات ساختمان
            <img class="check" src="../../assets/iconmonstr-checkbox-1.svg" alt="">
          </a>
          <a href="#">حمل و نقل
            <img class="check" src="../../assets/iconmonstr-checkbox-1.svg" alt="">
          </a>
          <a href="#">آموزش
            <img class="check" src="../../assets/iconmonstr-checkbox-1.svg" alt="">
          </a>
          <a href="#">امور ساختمان
            <img class="check" src="../../assets/iconmonstr-checkbox-1.svg" alt="">
          </a>
          <div class="images">
            <div class="mayket">
              <img src="../../assets/en_badge_web_generic.svg" alt="">
              <img src="../../assets/logotype-1.svg" alt="">
            </div>
            <img src="../../assets/SSSSSSSSSSSSSSSSSSSSSSSSS.svg" alt="">
            <img src="../../assets/EEEEEEEEEEEEEEEE.svg" alt="">
          </div>
      </div>
      <div class="onecard">
        <app-cardas></app-cardas>
        <app-cardas></app-cardas>
        <app-cardas></app-cardas>
      </div>
      <div class="twocard">
        <app-cardas></app-cardas>
        <app-cardas></app-cardas>
        <app-cardas></app-cardas>
      </div>
    </div>
  </div>
</div>
