<app-navbar></app-navbar>
<div class="card" style="width: 40rem;">
  <div class="buttons">
    <button type="button" class="btn btn-primary btn-sm">دریافت پیشنهاد جدید</button>
    <button type="button" class="btn btn-outline-primary btn-sm">فیلترها</button>
    <button type="button" class="btn btn-outline-dark btn-sm">برق ساختمان</button>
    <button type="button" class="btn btn-outline-dark btn-sm">نظافت منزل</button>
    <button type="button" class="btn btn-outline-dark btn-sm">لوله کشی</button>
    <button type="button" class="btn btn-outline-dark btn-sm">نصب کولر گازی</button>
    <button type="button" class="btn btn-outline-dark btn-sm">نصب کولر آبی</button>
    <button type="button" class="btn btn-outline-dark btn-sm">کابینت سازی</button>
  </div>
  <div class="card1">
    <div class="imgs">
      <img src="../../assets/images.jpg" alt="">
    </div>
    <div>
      <img src="../../assets/verified.svg" alt="">
    </div>
  </div>
</div>
