.navbar{
  direction: ltr;
  font-size: 7px;
}
.card{
  margin: auto;
}
.register{
  border: none;
  border-radius: 7px;
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 5px;
  margin-left: 10px;
}
.user{
  width: 10px;
  height: 10px;
}
.city img{
  width: 20px;
  height: 20px;
}
.tehran{
  margin-left: 280px;
  margin-right: 5px;
  list-style-type: none;
}
.card1{
  margin: 20px auto;
  width: 30rem;

}
.menu a{
  text-decoration: none;
  color: rgb(155, 155, 155);
  font-size: 10px;
  padding: 10px;
}
.menu{
  border-bottom: 1px solid rgb(226, 226, 226);
}
.information{
  margin-right: 85%;
}
.information img{
  width: 10px;
  height: 20px;
}
.information a{
  padding: 5px;
}
.person img{
  width: 70px;
  height: 70px;
}
.person , .details , .btnnumber {
  display: block;
  float: right;
}
.stars img{
  width: 10px;
  height: 15px;
}
.navbar{
  border-bottom: 1px solid rgb(226, 226, 226);
}
.details h5{
  font-size: 10px;
  font-weight: bolder;
}
.details p{
  font-size: 8px;
}
.details{
  margin-right: 20px;
  margin-top: 10px;
}
.stars{
  margin-top: -10px;
}
.number{
  margin-right: 200px;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 12px;
}
.btnnumber img{
  width: 15px;
  height: 20px;
}
.note img{
  width: 15px;
  height: 15px;
  display: block;
  float: right;
  margin-left: 5px;
}
.note{
  width: 30rem;
  margin: auto;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.note p{
  font-size: 8px;
  display: block;
  float: right;
}
.link a{
  text-decoration: none;
  display: inline-block;
  border-left: 1px solid rgb(226, 226, 226);
  color: gray;
  font-size: 10px;
  padding: 0 10px;
}
.description h5{
  font-size: 10px;
  font-weight: bolder;
  margin: 20px 0;
}
.description p{
  font-size: 10px;
  float: none;
}
.description{
  border-bottom: 1px solid rgb(226, 226, 226);
}
.skill h5{
  font-size: 10px;
  font-weight: bolder;
  margin-top: 10px;
}
.skill button{
  border-radius: 5px;
  font-size: 10px;
  margin: 10px 0 10px 10px;
  background-color: rgb(212, 212, 212);
  border: none;
  padding: 4px;
}
.skill{
  border-bottom: 1px solid rgb(226, 226, 226) ;
}
.License h5{
  font-size: 10px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 30px;
}
.btns button{
  min-width: 100px;
  min-height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  margin-left: 20px;
}
.License{
  border-bottom: 1px solid rgb(226, 226, 226);
}
.Comments h5{
  font-size: 10px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 30px;
}
.score  , .numbers , .comment {
  display: block;
  float: right;
}
.restangle{
  width: 260px;
  height: 20px;
  background-color: rgb(1, 218, 146);
}
.restangle1{
  width: 50px;
  height: 20px;
  background-color: rgb(1, 218, 66);
}
.restangle2{
  width: 20px;
  height: 20px;
  background-color: rgb(178, 218, 1);
}
.restangle3{
  width: 8px;
  height: 20px;
  background-color: rgb(218, 142, 1);
}
.restangle4{
  width: 30px;
  height: 20px;
  background-color: rgb(218, 52, 1);
}
.comment div{
  margin: 0 5px 5px 0;

}
.score p{
  display: block;
  float: none;
}
.Comments p{
  font-size: 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.Comments span{
  font-size: 10px;
}
.score{
  margin-top: 10px;
}
.numbers div{
  display: block;
  float: none;
  margin-right: 115px;
}
.date p{
  font-size: 10px;
  border-bottom: unset;
}
.Comments{
  border-bottom: unset;
}
.date{
  width: 30rem;
  margin: auto;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.date button{
  border-radius: 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  font-size: 10px;
  margin:0 85% 10px 0;
}
.date2 button{
  border-radius: 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  font-size: 10px;
  margin:0 78% 10px 0;
}
.date2 p{
  margin-top: 5px;
}
.btndisplay{
  width: 30rem;
  margin: auto;
}
.btndisplay button{
  margin: 30px 11rem 60px;
  font-size: 10px;
}
.endpage img{
  width: 15px;
  height: 15px;
}
.endpage{
  width: 100%;
  height: 30px;
  background-color: rgb(231, 231, 231);
}
.endpage a{
  padding: 5px;
}
.endpage p{
  font-size: 10px;
  margin:0 20px 0 250px;
}
.endpage a , p{
  display: inline-block;
}
.center{
  margin-bottom: 20px;
}
