<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="register">
    <img class="user" src="../../assets/user_white.svg" alt="user">
    ثبت نام متخصص</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">تماس با ما</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">راهنمایی</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">درباره ما</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">بلاگ</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">کارداری من</a>
      </li>
    </ul>
    <li class="nav-item active tehran">تهران</li>
    <div class="city">
      <a href="#"><img src="../../assets/ic_launcher-web.svg" alt=""></a>
    </div>
  </div>
</nav>
