<div class="card">
  <div class="center">
    <div class="menu">
      <a href="#">توضیحات و تصاویر</a>
      <a href="#">تخصص ها</a>
      <a href="#">مجوز و مدارک ها</a>
      <a href="#">نظرات و امتیاز</a>
    </div>
    <div class="information">
      <a href="#"><img src="../../assets/warning.svg" alt="warning"></a>
      <a href="#"><img src="../../assets/bookmark1.svg" alt="bookmark1"></a>
      <a href="#"><img src="../../assets/share.svg" alt="share"></a>
    </div>
    <div class="person">
      <img src="../../assets/images.jpg" alt="">
    </div>
    <div class="details">
      <h5>محمد علی پور</h5>
      <p>برق و الکترونیک</p>
      <div class="stars">
        <img src="../../assets/stars.png" alt="stars">
        <img src="../../assets/stars.png" alt="stars">
        <img src="../../assets/stars.png" alt="stars">
        <img src="../../assets/stars.png" alt="stars">
        <img src="../../assets/stars.png" alt="stars">
      </div>
    </div>
    <div class="btnnumber">
      <button class="btn btn-primary btn-lg number">
        0914xxx9980
        <img src="../../assets/phone.png" alt="phone">
      </button>
    </div>
  </div>
  <div class="note">
    <img src="../../assets/information.svg" alt="information">
    <p>پیش از اتمام سفارش از پرداخت هر نوع وجه خودداری و از
      خدمات ارایه شده بصورت حضوری رضایت حاصل نمایید
    </p>
  </div>
  <div class="note2 link">
    <a href="#">
      <img src="../../assets/calendar (1).png" alt="">
      سابقه 12 سال</a>
    <a href="#">
      <img src="../../assets/doctors-bag.png" alt="">
      بازدید رایگان</a>
    <a href="#">
      <img src="../../assets/badge.png" alt="">
      عضویت ساده</a>
  </div>
  <div class="note description">
    <div class="description1">
      <h5>توضیحات</h5>
      <p>هسته ای 8</p>
      <p>اینچ 6.4</p>
      <p>مگاپیکسل دوربین پشت 21</p>
      <p>مگاپیکسل دوربین جلو 16</p>
      <p>بسیار سالم و تمیز بدون کوچکترین خط و خش</p>
      <p>رجیستر شده</p>
      <p>دو سیم کارت</p>
    </div>
    <div class="sliderall">
      <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel__slide1"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">
              <a href="#carousel__slide4"
                 class="carousel__prev">Go to last slide</a>
              <a href="#carousel__slide2"
                 class="carousel__next">Go to next slide</a>
            </div>
          </li>
          <li id="carousel__slide2"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide1"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide3"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide2"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide4"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide4"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide3"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide1"
               class="carousel__next">Go to first slide</a>
          </li>
        </ol>
      </section>
      <p>نصب پرده عمودی</p>
    </div>
  </div>
  <div class="note skill">
    <h5>مهارت ها</h5>
    <div class="buttons">
      <button>سیم کشی ساختمان</button>
      <button>برق ساختمان</button>
      <button>نصب آیفون تصویری</button>
      <div>
        <button>چاه ارت</button>
        <button>نصب چراغ</button>
      </div>
    </div>
  </div>
  <div class="note License">
    <h5>مجوز ها و مدارک</h5>
    <div class="btns">
      <button></button>
      <button></button>
      <button></button>
  </div>
  </div>
  <div class="note Comments">
    <h5>امتیاز و نظرات</h5>
    <div class="score">
      <p class="p1">4/2</p>
      <img src="../../assets/user1.svg" alt="">
      <span>از 89 امتیاز</span>
    </div>
    <div class="numbers">
      <div>5</div>
      <div>4</div>
      <div>3</div>
      <div>2</div>
      <div>1</div>
    </div>
    <div class="comment">
      <div class="restangle"></div>
      <div class="restangle1"></div>
      <div class="restangle2"></div>
      <div class="restangle3"></div>
      <div class="restangle4"></div>
    </div>
  </div>
  <div class="date">
    <p>14 اسفند 99</p>
    <div class="stars stars1">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
    </div>
    <p>به موقع اومدن،هزینه مناسب با
      خدمات دریافت کردن،بسیار خوش برخورد و مهربون بودن با پسر من</p>
      <button>نصب آیفون</button>
  </div>
  <div class="date date2">
    <p>17 بهمن 99</p>
    <div class="stars stars2">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
      <img src="../../assets/stars.png" alt="stars">
    </div>
    <p>به موقع اومدن،هزینه مناسب با
      خدمات دریافت کردن،بسیار خوش برخورد و مهربون بودن با پسر من</p>
      <button>سیم کشی ساختمان</button>
  </div>
  <div class="btndisplay">
    <button class="btn btn-primary btn-lg">نمایش بیشتر نظرات</button>
  </div>
</div>
