/* You can add global styles to this file, and also import other style files */
body
{
  direction: rtl;
  background-color: rgba(214, 214, 214, 0.562);
}
@font-face{
    font-family: 'myfont';
    src: url('./assets/IRANSans-web.woff2');
}
*{
    font-family: myfont;
}
