.card{
margin: auto;
}
img{
  width: 150px;
  height: 150px;
  margin: auto;
}
input{
  border-radius: 20px;
  margin: auto;
  width: 300px;
  font-size: 12px;
  padding: 10px 40px;
  background-image: url(../../assets/searching-magnifying-glass.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 20px;
}
::placeholder {
  border-right:1px  solid rgb(128, 128, 128) ;
  padding-right: 20px;
}
h5{
  font-size: small;
  font-weight: 700;
  margin: 40px 100px 0 0;
  color: rgba(0, 0, 0, 0.863);
}
.form-control{
  border: 1px solid rgb(56, 56, 56);
}
.buttons{
  width: 300px;
  border-top: 1px solid rgb(56, 56, 56);
  margin: 15px auto;
}
.buttons button{
  margin: 17px 0 0 10px;
  border-radius: 8px;
  outline: none;
  font-size: 12px;
  padding-right: 15px;
  padding-left: 15px;
}
.center{
  display: flex;
  height: 100vh;
}
