<div class="center">
<div class="card" style="width: 30rem;">
  <img src="../../assets/thran.svg" alt="">
  <input class="form-control" type="search" placeholder="دنبال چه خدماتی هستید؟" >
  <h5>بیشترین جست و جوها</h5>
  <div class="buttons">
    <button type="button" class="btn btn-outline-secondary btn-sm">نظافت منزل</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">برق ساختمان</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">پرینتر</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">اندروید</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">لوله بازکنی</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">لوله بازکنی</button>
  </div>
</div>
</div>
