<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="titr">
      <p>گزارش عملکرد</p>
      <button class="close"></button>
    </div>
    <p class="card-text">انتخاب دلیل گزارش</p>
    <div class="inputs">
      <select class="form-select" aria-label="Default select example">
        <option selected>انتخاب دلیل گزارش</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <a href="#" class="btn btn-primary">ثبت</a>
  </div>
</div>


